body {
 font-family: 'Open Sans', Arial, sans-serif;
}
blockquote {
 font-family: 'Gentium Basic', 'Times New Roman', serif;
}
code {
 font-family: 'Courier New', 'Lucida Console', monospace;
}
pre code {
 font-family: 'Courier New', 'Lucida Console', monospace;
 font-size: .85em;
}
